* {
    font-family: Montserrat, sans-serif;
}

h1, h2, h3 {
    color: rgb(48, 48, 48);
}

h4 {
    font-size: 0.9em;
    color: dodgerblue;
    font-weight: 500;
}

h5 {
    font-size: 0.7em;
    font-weight: normal;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr 96px;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}

#button {
    color: silver;
    background-color: darkslategray;
    font-size: 1em;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 16px 0;
}

#practice {
    display: grid;
    grid-template: 1fr / 1fr 40%;
    grid-column-gap: 24px;
    margin: 32px 24px;
}

#practice img {
    display: inline;
    height: auto;
}

#video {
    display: grid;
    grid-template: 1fr / 1fr 40%;
    grid-column-gap: 24px;
    margin: 32px 24px;
}

#video img {
    display: inline;
    height: auto;
}

header {
    grid-area: header;
    display: flex;
    position: fixed;
    height: 64px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: white;
}

header img {
    display: inline-block;
}

body {
    margin: 0;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    margin: 16px 24px;
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}

nav {
    margin-right: 16px;
}

nav li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

ul {
    list-style: none;
    margin: 0;
}

h2 {
    font-weight: 750;
}

p {
    font-size: 0.9em;
}

.grid_main {
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
    width: 100%;
}

.grid_list {
    display: grid;
    grid-template: 1fr / 35% 65%;
}

.banner {
    display: grid;
    grid-template: 1fr / 1fr 40%;
    grid-column-gap: 40px;
    justify-content: center;
    background-color: silver;
    padding: 32px 24px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
}

.start_here {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.visible-mobile {
    display: none !important;
}

.practice_text {
    margin-left: 16px; 
    align-self: center;
}

/* practicing grid items */

.b h2 {
    margin-top: 32px;
    margin-bottom: 24px;
}

.c {
    padding-left: 16px;
    padding-right: 16px;    
    padding-bottom: 16px;
}

.d {
    padding: 16px;
}

.e {
    padding: 16px;
    background-color: silver;
}

/* thesis exhibit grid items */
.f {
    padding: 16px;
    background-color: silver;
}

.g {
    padding: 16px;
}

.b p, .c p, .d p, .e p, .f p, .g p {
    margin: 0;
}

.learning {
    background-color: lightgrey;
}

.learning h2,
.thesis h2 {
    display: block;
    text-align: center;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 0;
}

.courses {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 8px 72px;
}

.box {
    width: 30%;
    margin: 24px 0;
    background-color: white;
}

.box img {
    height: auto;
}

.box h3, p {
    margin: 16px;
}

/* mobile layout */

@media only screen and (max-width: 700px) {

    /* header */
    header {
        justify-content: space-around;
    }
    
    /* body */
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .start_here {
        width: 90%;
        text-align: center;
    }

    #practice {
        grid-template: 1fr / 1fr;
        margin: 16px;
    }

    #practice ul {
        padding: 0;
    }

    #practice_main {
        display: none;
    }

    .grid_list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        width: 100%;
        padding: 0;
    }

    .practice_text {
        align-self: flex-start
    }

    .c, .d, .e {
        padding: 0;
        background-color: white;
        flex-basis: 100% !important;
        max-width: 100%;
    }
    
    .visible-mobile {
        display: block !important;
    }

    .hidden-mobile {
        display: none !important;
    }

    .learning {
        background-color: white;
    }

    .learning img, 
    .learning p {
        display: none;
    }

    .courses {
        background-color: white;
        flex-direction: column;
        padding: 16px 16px;
        align-content: center;
        margin-bottom: 16px;
    }

    .box {
        background-color: lightgrey;
        width: 100%;
        margin: 8px 0;
        padding: 16px 0;
    }

    .thesis ul,
    .thesis h3,
    .thesis p {
        display: none;
    }

    #video {
        grid-template: 1fr / 1fr;

    }
}
